

.card{

    //FUNCIONALIDADES
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 52rem;
    // 

    &__side{
        height: 52rem;
        transition: all .8s  ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 3px;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
        overflow: hidden;


        &--frond{
            background-color:$color-white;
        }

        &--back{
            transform: rotateY(180deg); /* esto se hace para que la tarjeta del lado de atras rote y el texto se pueda leer en el sentido dereca izquierda */

            &-1{
                background-image: linear-gradient(to right bottom, $color-secundary-light, $color-secundary-dark);
            }

            &-2{
                 background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
            }

            &-3{
                 background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-darck);
            }
        }
    }

    &:hover &__side--frond {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }


    //FROND SIDE STYLING.
    &__picture{
        background-size: cover;
        height: 23rem;
        background-blend-mode: screen;
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;


        &--1{
            background-image:linear-gradient(to right bottom, $color-secundary-light, $color-secundary-dark),
                                             url(../img/nat-5.jpg);
        }

        &--2{
            background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark),
             url(../img/nat-6.jpg);
        }

        &--3{
            background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-darck),
             url(../img/nat-7.jpg);
        }    
    }

    &__heading{
        font-size: 2.8rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
        color: $color-white;
        position: absolute;
        top: 12rem;
        right: 2rem;
        width: 75%;
    }

    &__heading-span{
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break:clone;
        box-decoration-break: clone;

        &--1{
            background-image: linear-gradient(to right bottom, 
                rgba($color-secundary-light, .85), 
                rgba($color-secundary-dark, .85));
        }

        &--2{
            background-image: linear-gradient(to right bottom, 
                rgba($color-primary-light, .85), 
                rgba($color-primary-dark, .85));
        }

        &--3{
            background-image: linear-gradient(to right bottom, 
                rgba($color-tertiary-light, .85), 
                rgba($color-tertiary-darck, .85));
        }
    }

    &__details{

        padding: 3rem;
        ul{
            list-style: none;
            width: 80%;
            margin: 0 auto;
            li{
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;

                &:not(:last-child){
                    border-bottom: 1px solid $color-grey-light-2;
                }
            }
        }
    }

    //FROND SIDE STYLING.

    &__cta{

        position: absolute;
        top: 58%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

    &__price-box{
        text-align: center;
        margin-bottom: 1rem;
        color: $color-white;
    
    }

    &__price-only{
        font-size: 1.8rem;
        text-transform: uppercase;
    }

    &__price-value{
        font-size: 6rem;
        font-weight: 100;
    }

    @include respond(tab-port){
        //FUNCIONALIDADES
        
        height: auto;
        // 
        border-radius: 3px;
        background-color: $color-white;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
        &__side{
            height: auto;
            transition: all .8s  ease;
            position: relative;
            box-shadow: none;
            

            &--back{
                transform: rotateY(0deg); /* esto se hace para que la tarjeta del lado de atras rote y el texto se pueda leer en el sentido dereca izquierda */
                clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
            }
        }

        &:hover &__side--frond {
            transform: rotateY(0deg);
        }

        &__details{
            padding: 1rem 3rem;
        }

        //FROND SIDE STYLING.

        &__cta{

            position: relative;
            top: 0%;
            left: 0;
            transform: translate(0);
            width: 100%;
            padding: 7rem 4rem 4rem 4rem;

        }

        &__price-box{
            margin-bottom: 8rem;
        
        }

        &__price-only{
            font-size: 1.8rem;
            text-transform: uppercase;
        }

        &__price-value{
            font-size: 6rem;
        }



    }



}